@import '../../node_modules/bootstrap/scss/bootstrap.scss';


$primary-color: #0074c7;
$secondary-color: #00497c;
$tertiary-color: #384050;
$red-color: #cd2c2e;
$green-color: #82b864;
$light-color: #f1f8fc;

$font-family-graphik: "Graphik", sans-serif;

body {
    background-color: $light-color;
    font-family: $font-family-graphik;
}
